{% capture favicon_path %}{{ '/assets/img/favicons' | relative_url }}{% endcapture %}

<link rel="apple-touch-icon" sizes="180x180" href="/assets/svg/home.svg">
<link rel="icon" type="image/svg" sizes="32x32" href="/assets/svg/home.svg">
<link rel="icon" type="image/svg" sizes="16x16" href="/assets/svg/home.svg">
<link rel="shortcut icon" href="/assets/svg/home.svg"/>
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">